name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=ext-mongodb

      - name: Install php-cs-fixer
        run: composer install --working-dir=tools/php-cs-fixer

      - name: Install phpstan
        run: composer install --working-dir=tools/phpstan

      - name: Run cs-check
        run: composer cs-check

      - name: Run phpstan
        run: composer phpstan

      - name: Run phpunit
        run: composer test